.boxwrap {
    margin: 30px auto;
    max-width: 650px;
    position: relative;
    z-index: 0;
    background: #121212dd;
    opacity: .8;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.boxwrap b,
.boxwrap b i,
.boxwrap i b {
    font-weight: 700;
    color: #4D6D3D;
 }

.boxwrap i {
    color: #4D6D3D;
    font-weight: 500;
 }

.boxwrap img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
 }

.boxwrap_iconframe {
    position: relative;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 10px;
 }

.box-body {
    padding: 32px 36px 36px 40px;
    color: #9D9786;
    font: 400 12px/1.7em Georgia;
    letter-spacing: .2px;
 }
